* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.title {
  background-color: steelblue;
  color: white;
  padding: 100px 20px 30px;
  /*
        요소가 화면을 벗어나면 지정된 위치에 고정
        화면 스크롤을 내릴 경우 title 내부 작성된 글자가 보이지 않는 것이 맞음
        특정 요소를 화면에서 벗어나더라도 고정하길 원한다면 position의 기능 이용할 수 있음
        top 위 위치를 기준으로 -70의 값을 준 것은
        고정된 요소의 크기를 -70만큼 줄여서 보여지도록 설정
        */
  position: sticky;
  top: -70px;
}
div {
  border: 1px solid black;
}
.container-1 {
  /* 감싸는 요소(태그)의 기준점 */
  width: 340px;
  height: 304px;
  border: 2px dashed red;
  margin: 30px;
  position: relative; /*기준*/
}
.first {
  width: 300px;
  height: 300px;
  background-color: yellow;
  position: absolute;
  z-index: 0;
}
.second {
  width: 200px;
  height: 200px;
  background-color: green;
  position: absolute;
  /*
        기준이 되는 container-1 요소에서 왼쪽 벽으로 부터 50px만큼 떨어진 위치 배치
        위쪽 벽으로 부터 50px만큼 떨어진 위치 배치
        */
  left: 50px;
  top: 50px;
  z-index: 1;
}
.third {
  width: 100px;
  height: 100px;
  background-color: orange;
  position: absolute;
  /*
        기준이 되는 container-1 요소에서 오른 벽으로 부터 100px만큼 떨어진 위치 배치
        아래쪽 벽으로 부터 100px만큼 떨어진 위치 배치
        */
  right: 100px;
  bottom: 100px;
  z-index: 2;
}

.container-2 {
  width: 486px;
  height: 272px;
  position: relative;
}
.center {
  width: 50px;
  height: 50px;
  background-color: hotpink;
  /*테두리를 가장 둥글게 만들어서 원형 형태 유지*/
  border-radius: 50%;
  /* 
        다른 요소와의 간격 자동 설정 가로 가운데 container-2 상 하 우 좌 면에 여백을 없앰
        이럴 경우 내부 요소(태그)는 위치 설정을 할 수 없으므로 가장 기본인 왼쪽 위
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        여기서 
         margin: auto;를 사용하면
         자동으로 남은 공간을 양쪽에 똑같이 분배하여 요소를 정중앙에 위치시킴
        */
  margin: auto;

  /*
        margin: auto; + position: absolute; +  top: 0, bottom: 0, left: 0, right: 0;
        고전적인 CSS 가운데 정렬 기법
        */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fixed-area {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: white;
}
a {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  text-align: center;
  /*장평 설정: 세로 폭 설정*/
  line-height: 35px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  /*사용자가 드래그를 하지 못하도록 방지*/
  user-select: none;
}
